.git
.github
.venv
.pytest_cache
**/__pycache__
**/*.pyc
.env
.env.*
!.env.example
!.env.production.example
.DS_Store
Archive.zip
android
android_releases
bundlesigner-*.jar
*.jks
*.apk
*.bin
web/node_modules
web/dist
web-new-version/node_modules
web-new-version/dist
landing/node_modules
landing/dist
landing/.generated
admin-panel/node_modules
admin-panel/dist
