OVERRIDE_HOSTNAME=mail.splitwise.ir
POSTMASTER_ADDRESS=postmaster@splitwise.ir
SSL_TYPE=letsencrypt
ENABLE_RSPAMD=1
ENABLE_CLAMAV=0
ENABLE_FAIL2BAN=1
ENABLE_POSTGREY=0
ENABLE_POP3=0
ONE_DIR=1
PERMIT_DOCKER=network
SPOOF_PROTECTION=1
MOVE_SPAM_TO_JUNK=1
POSTFIX_INET_PROTOCOLS=ipv4
